
div.stApp {
    background-color: #000000;
}

div.block-container{
    background-color: #ffffff;
}

div.st-emotion-cache-1om1ktf.ezh4s2r0 {
    border: 10px ;
    color:#000000
}


div.st-emotion-cache-10trblm.e1nzilvr1 {
    text-align: center;
}

div.st-emotion-cache-1om1ktf.ezh4s2r0 {
    border: 10px;
    color: #000000;
}

div.st-emotion-cache-10trblm.e1nzilvr1 {
    align-items: center;
}